.body{
	font-family: sans-serif;
	background-color: #232531;
	color: #cfcfd1;
	margin: 0;
	position: relative;
	padding-bottom: 150px;
	min-height: 100vh;
}

*, *:before,*:after {
	box-sizing: border-box;
}

/* Container
=========================== */
.container {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	
}

/* HEADER 
========================== */
.header {
	
	background-color: #1b1b24;
	text-transform: uppercase;
	box-shadow: 0 0 5px 0px black;
	
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;	
}

/* NAV 
=============== */

/* Animation blink text */
/* #blink {
	animation: blink 2s linear infinite;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
	animation-name: blink;
	font-size: 20px;

}

@keyframes blink {
	
	50% {color:rgb(255, 255, 255) };
	51% {color:rgba(255, 255, 255, 0);}
	100% {color:rgba(255, 255, 255, 0);}
} */
.nav {
	display: flex;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav__link {
	margin-left: 20px;
	color: #fff;
	text-decoration: none;
	opacity: 0.70;
	transition: opacity .1s linear;
}

.nav__link:hover {
	text-decoration: none;
	color: #fff;
	opacity: 1;
}
/* Animated logo 
============================*/
.logo{
	display: inline-block;
	transform: translateY(-100vh);
	animation: fall 2s forwards;
}

@keyframes fall {
	100%{
		transform: translateY(0);
	}
}


/* CARDS
================================== */



/* Content
===================================== */
.main-container {
width: 70%;
margin: 0 auto;
padding: 30px 20px;
/* min-height: calc(10vh - 211px - 58px); */
position: relative;
/* min-width: 100vh; */
/* min-height: 100vh; */
}

.infocontent {
	text-align: center;
	/* margin: 0 auto; */
	padding: 10px 10px;
}


.list_news{
	/* max-width: 1100px; */
	font-family: sans-serif;
	/* padding отодвигает от левого края на 500px */
	padding: 0px 500px;
	font-size: 13px;
	color: #cfcfd1;
}
.list_news__link{
	font-size: 20px;
	color: #cfcfd1;
}
.list_news__link:hover {
	text-decoration: none;
	color: #fff;
}
/* Post
========================== */
.post {
	color: #e5e5e5;
	font-family: sans-serif;
	text-align: justify;
	line-height: 25px;
	padding: 10px ;
	/* background-color: #fff; */
	background-color: #f9f7f2;
	box-shadow: 0 0 5px 0px black;
	display: block;
	align-items: center;
	border-radius: .8rem;
	margin-bottom: 10px;
	width: 100%;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	min-height: 120px;
	/* max-height: 120px; */
	
}
.pagination {
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
	color: #818186;
}
/* .pagination > a:hover{
	color: #fff;
	text-decoration: none;
} */

.step-links{
	margin-left: auto;
	margin-right: auto;
	color: #818186;
}
.step-links > a{
	color: #818186;
}
.step-links>a:hover{
	text-decoration: none;
	color: #fff;
}
.post-img {
	transform: translateX(-30px);
	position: relative;
	
}
.post-img>img {
	object-fit: cover;
	box-shadow: 0 0 5px 0px black;
	border-radius: 7px;
	float: left;
	background-color: rgba(255, 255, 255, 1);	
	backdrop-filter: blur(30px);
}
.post-date {
	display: block;
	color: #818186;
	font-size: 16px;
	font-weight: 600;
	margin: 5px 0;
	font-family: sans-serif;
}

.post-title {
	font-size: 22px;
	margin: 15px 0 10px;
	text-transform: uppercase;
	color: #232531;
	font-family: sans-serif;
	
}
.post-title>a {
	cursor: pointer;
	/* color: #81589f; */
	color: #b89535
}
.post-title > a:hover{
	text-decoration: none;
	/* color: #232531; */
	color: #ebc03f;
}

.post-text {
	margin-bottom: 10px;
	font-size: 14px;
	/* color:#232531; */
	color: #1d1f22;
	font-family: sans-serif;

}
/* .btn-news {
	margin-left: 100px;
}
.read{
	margin-top: 15px;
	display: block;
	background-color: #81589f;
	color: #fff;
	border: none;
	outline: none;
	padding: 8px 10px;
	text-transform: capitalize;
	cursor: pointer;
	font-size: 20px;
	border-radius: 5px;
}

.btn {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	background: #81589f;
	width: 80px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	color: #cfcfd1;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.btn:hover, btn:focus, btn:active {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px 0px black;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	color: #fff;
} */


.post > h1 {
	margin: 0 0 3px 0;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.2px;

}
.post > span {
	font-family: sans-serif;
	color: #818186;
	
}

/* User card
============================ */

.user-card {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	font-family: sans-serif;
	display: block;
	width: 70%;
	align-items: center;
	padding: 0px;
	justify-content: space-between;
	background-color: #fff;
	
	width: 530px;
	min-height: 90px;
	border-radius: 100px 20px 20px 100px;
	box-shadow: 0 0 5px 0px black;
}
.avatar {
	float: left;
	width: 90px;
	height: 90px;
	object-fit: cover;
	float: left;
	
}
.avatar > img{
	margin-left: 0px;
	border-radius: 45px 45px 45px 45px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0 0 5px 0px black;
	/* float: left; */
	object-fit: cover;

}

.name {
	margin-left: 100px;
	margin-top: 15px;
	font-size: 20px;
	font-family: sans-serif;
	position: absolute;
	text-align: center;
	color: #232531;
}
.position {
	position: absolute;
	margin-left: 100px;
	margin-top: 47px;
	text-align: center;
	font-size: 14px;
	color: #818186;
}
.content{
	float: left;
}
.user-link{
	align-items: center;
	justify-content: space-between;
	margin-left: 410px;
	margin-top: 35px;
	margin-bottom: auto;
	text-decoration: none;
}
.user-link a {
	font-family: sans-serif;
	text-decoration: none;
	font-size: 14px;
	padding: 7px;
	background-color: #6daae1;
	/* background: linear-gradient(to bottom #6daae1 0%, #81589f 100%); */
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 0 3px 0 black;
	text-align: center;
}
.user-link > a:hover, .user-link > a:focus, .user-link > a:active{
	text-decoration: none;
	box-shadow: 0 0 5px 0px black;
	color: #fff;
}
/* App list 
=======================================*/

.search {
	border: 0;
    background: none;
    /* display: block; */
    margin: 20px auto;
    /* text-align: center; */
    border: 1px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
	min-height: 30px;
	max-height: 30px;
	
}
.search:focus, .search:hover {
	width: 330px;
	
}


/* Footer
======================================= */
.footer{
	width: 100%;
	position: absolute;
	padding: 20px;
	background-color: #1b1b24;
	box-shadow: 0 0 5px 0px black;
	bottom: 0;
}

.text-footer {
	font-size: 16px;
	color: #818186;
}

.copyright {
	border-top: 1px solid rgba(255, 255, 255, 0.1) ;
}

.pt-5 {
	padding-top: 3rem;
}
.text-center {
	text-align: center ;
}
.text-footer-link{
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

.text-footer-link:hover {
	text-decoration: none;
	color: #fff;
}
.text-white{
	color: #fff;
}
