.body{
	font-family: sans-serif;
	background-color: #232531;
	color: #cfcfd1;
	margin: 0;
	
}

*, *:before,*:after {
	box-sizing: border-box;
}

/* Container
=========================== */
.container {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	
}

/* HEADER 
========================== */
.header {
	background-color: #1b1b24;
	text-transform: uppercase;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
	padding: 35px 0;
	/* border-bottom: 1px solid #515369; */
	
}

/* NAV 
=============== */

.nav {
	display: flex;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav__link {
	margin-left: 20px;
	color: #fff;
	text-decoration: none;
	opacity: 0.70;
	transition: opacity .1s linear;
}

.nav__link:hover {
	text-decoration: none;
	color: #fff;
	opacity: 1;
}
/* Animated logo 
============================*/
.logo{
	display: inline-block;
	transform: translateY(-100vh);
	animation: fall 2s forwards;
}

@keyframes fall {
	100%{
		transform: translateY(0);
	}
}

.page{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.infocontent,
.content{
	max-width: 1100px;
	margin: 0 auto;
	padding: 40px 20px;
}

.footer{
	padding: 20px;
	background-color: #1b1b24;
}

.footer{
	margin-top: auto;
}
.text-footer {
	font-size: 16px;
	color: #818186;
}
.yellow {
	color: #f4cb67;
}

.copyright {
	border-top: 1px solid rgba(255, 255, 255, 0.1) ;
}

.pt-5 {
	padding-top: 3erm;
}
.text-center {
	text-align: center ;
}
.text-footer-link{
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

.text-footer-link:hover {
	text-decoration: none;
	color: #fff;
}
.text-white{
	color: #fff;
}