{% extends 'base.html' %}
{% block content %}
<h1>{{ app.title }}</h1>

 {% if app.image %}
    <img width="100" height="100" src="{{MEDIA_URL}}{{app.image.url}}">
 {% else %}
     <p>Скриншотов нет</p>
 {% endif %}
    <br>
    Описание: <p>{{ app.description }}</p>
    Дата загрузки: <p>{{ app.created_at }}</p>
    Статус: <p>{% if app.flag == True %}
                Верифицировано
                {% else %}
                Неверифицировано
                {% endif %}</p>
    Автор: <p>{{ app.user }}</p>
    Категория: <p><a href="{% url 'category_detail' app.category.slug %}">{{ app.category }}</a></p>
    Файлы:
    <a href="{{MEDIA_URL}}{{app.file.url}}" download>Скачать файл {{ app.file.name }}</a>

    {% if files %}
    Скриншоты: {% for file in files %}

    <img width="100" height="100" src="{{MEDIA_URL}}{{file.files.url}}">
        <br>
    {% endfor %}
    {% endif %}

<br>
{% if request.user.is_superuser or request.user == app.user %}
    <a href="{% url 'edit_app' app.slug %}"><button>Редактировать</button></a>

    <a href="{% url 'del_app' app.slug %}"><button>Удалить</button></a>
    {% endif %}


{% endblock %}