{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>{{ app.title }}</h1>
<!-- TODO Добавть версию и системные требования -->
 {% if app.image %}
    <img class="app-detail-img" width="300" height="300"  src="{{MEDIA_URL}}{{app.image.url}}">
 {% else %}
     <p>Скриншотов нет</p>
 {% endif %}
    <br>
    Описание: <p>{{ app.description }}</p>
    Дата загрузки: <p>{{ app.created_at }}</p>
    Статус: <p>{% if app.flag == True %}
                Верифицировано
                {% else %}
                Неверифицировано
                {% endif %}</p>
    Автор: <p>{{ app.user }}</p>
    Количество скачиваний: <p>{{ app.download_count }}</p>
    Категория: <p><a href="{% url 'category_detail' app.category.slug %}">{{ app.category }}</a></p>
    Файлы:
{#    <a href="{{MEDIA_URL}}{{app.file.url}}" download>Скачать файл {{ app.file.name }}</a>#}
    
    <!-- TODO добавить доступность ссылки после верификации. Если верифицирован, то качать можно, иначе нет -->
    <a href="{% url 'download' app.slug %}" download>Скачать файл {{ app.file.name }}</a>




    <!-- Slider -->
    
    {% if files %}
    <div class="slider-container">
    <!-- Скриншоты:  -->
    {% for file in files %}
         <div class="slide-container">
            <img class="slide-img" src="{{MEDIA_URL}}{{file.files.url}}" >
        </div>   
    {% endfor %}
    
        <div class="slide-navigation">
            <i class="prev-btn">&lt</i>
            <i class="next-btn">&gt</i>
        </div>
        <div class="navigation-visibility">
    
    {% for file in files %}
            <div class="slide-icon">
            </div>  
    {% endfor %}
   
        </div>


    </div> {% endif %}
<br>
{% if request.user.is_superuser or request.user == app.user %}
    <a href="{% url 'edit_app' app.slug %}"><button class="btn">Редактировать</button></a>

    <a href="{% url 'del_app' app.slug %}"><button class="btn">Удалить</button></a>
    {% endif %}



    <script src="{% static 'js/slider.js' %}"></script>
{% endblock %}