{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1 id="create_title">{{ app.title }}</h1>
<!-- TODO Добавть версию и системные требования -->
 {% if app.image %}
 <div class="app-form">
    
        <img class="app-detail-img gradient" width="300" height="300"  src="{{MEDIA_URL}}{{app.image.url}}">
    
 {% else %}
     <p>Скриншотов нет</p>
 {% endif %}
    <br>
    <div class="app-detail-content">
    Описание: <p>{{ app.description }}</p>
    Дата загрузки: <p>{{ app.created_at }}</p>
    Версия: <p>{{app.version}}</p>
    Системные требования: <p>{{app.requirements}}</p>
    Статус: <p>{% if app.flag == True %}
                <span style="color: #2ecc71;">
                    Верифицировано
                </span>
                {% else %}
                <span style="color: brown;">
                    Неверифицировано
                </span>
                {% endif %}</p>
    Автор: <p>{{ app.user }}</p>
    Количество скачиваний: <p>{{ app.download_count }}</p>
    Категория: <p><a href="{% url 'category_detail' app.category.slug %}">{{ app.category }}</a></p>
    Файлы:
{#    <a href="{{MEDIA_URL}}{{app.file.url}}" download>Скачать файл {{ app.file.name }}</a>#}
    <!-- TODO Отрисовать новую кнопку для загрузки -->
    <!-- TODO добавить доступность ссылки после верификации. Если верифицирован, то качать можно, иначе нет -->
    
        <a class="btn-download" href="{% url 'download' app.slug %}" download>Скачать<img height="40px" width="40px" src="{% static 'image\download.png' %}" alt="Скачать файл"></a>

    </div>
</div>


    <!-- Slider -->
    
    {% if files %}
    <div class="slider-container">
    <!-- Скриншоты:  -->
    {% for file in files %}
         <div class="slide-container">
            <img class="slide-img" src="{{MEDIA_URL}}{{file.files.url}}" >
        </div>   
    {% endfor %}
    
        <div class="slide-navigation">
            <i class="prev-btn"><img height="45px" width="45px" src="{% static 'image\btn-left-1.png' %}" alt=""></i>
            <i class="next-btn"><img height="45px" width="45px" src="{% static 'image\btn-right-1.png' %}" alt=""></i>
        </div>
        <div class="navigation-visibility">
    
    {% for file in files %}
            <div class="slide-icon">
            </div>  
    {% endfor %}
   
        </div>


    </div> {% endif %}
<br>
{% if request.user.is_superuser or request.user == app.user %}
    <div class="button-group">
      <a href="{% url 'edit_app' app.slug %}"><button class="btn">Редактировать</button></a>

    <a href="{% url 'del_app' app.slug %}"><button class="btn">Удалить</button></a>  
    </div>
    
    {% endif %}



    <script src="{% static 'js/slider.js' %}"></script>
{% endblock %}