{% extends 'base.html' %}
{% block content %}

<form action="{% url 'search_app' %}" method="get">
  <input class="search" name="q" type="text" placeholder="Поиск">
</form>
<!-- TODO Исправить текст, исправить наложение футера -->


{% if apps_list %}
<div class="main-container-apps-list">

<h2>Приложения:</h2>

 
     {% for app in apps_list %}
     
    
    <div class="apps-list">
        <a href="{% url 'app_detail' app.slug %}">
        <div class="apps-list__img">
            <img width="150" height="150" src="{{MEDIA_URL}}{{app.image.url}}">  
        </div>
        <div class="apps-title">
             {{ app.title }}
        </div>
        </a>
    </div>
     
    
     {% endfor %}
    
{% else %}
    <p>Приложений нет</p>
    
{% endif %}
</div>
{% if categories %}
    <h2>Категории:</h2>
     <ul>
     {% for category in categories %}
     <li><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
     {% endfor %}
 </ul>
    {% endif %}


 <!-- <div class="footer-apps">
      1   
</div> -->
    
{% endblock %}