<!DOCTYPE html>
<html lang="en">
<head>
    <!-- BEGIN CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- END CSS -->
    
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- TODO Внешняя зависимость -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Магазин приложений</title>
</head>
<body class="body">
    <!-- NEW header -->
   <header class="header">
       <div class="container">
           <div class="header__inner">
               <div class="header__logo">
                    <div >
                        <img src="{% static 'image/star.png' %}" alt="" style="width: 35px;"> 
                    <b>Союз программистов </b>                  
                    </div>
               </div>
                <nav class="nav">
                    <a class="nav__link" href="{% url 'main' %}">Главная</a>
                    <a class="nav__link" href="{% url 'apps_list' %}">Программы</a>
                    <a class="nav__link" href="{% url 'information' %}">Информация</a>
                    <a class="nav__link" href="{% url 'about' %}">О нас</a>
                   <!-- 
                   {% if request.user.is_authenticated %}
                   
                        <a class="nav__link" href="{% url 'profiles' %}">Пользователи</a>
                        <a href="{% url 'create_app' %}" class="nav__link">Загрузить ПО</a>
                        <a href="{% url 'create_news' %}" class="nav__link">Создать новость</a>
                        <a href="{% url 'logout' %}" class="nav__link">Выйти</a>
                   {% else %}
                        <a href="{% url 'login' %}" class="nav__link">Войти</a>
                        <a href="{% url 'register' %}" class="nav__link">Зарегистрироваться</a>
                   {% endif %}
               </nav> 
               <nav class="nav">
                   <ul class="menu">
                       <li><a class="nav__link" href="{% url 'main' %}">Главная</a></li>
                       <li><a class="nav__link" href="{% url 'apps_list' %}">Программы</a></li>
                       <li><a class="nav__link" href="{% url 'information' %}">Информация</a></li>
                       <li><a class="nav__link" href="{% url 'about' %}">О нас</a></li>-->
                       <ul class="menu">
                       <li><img class="img_user_menu" width="35px" src="{% static 'image/user_1.png' %}" alt="">
                       <div class="submenu-container">
                            <ul class="submenu">
                            {% if request.user.is_authenticated %}
                                <li><a class="nav__link" href="{% url 'profiles' %}">Пользователи</a></li>
                                <li><a href="{% url 'create_app' %}" class="nav__link">Загрузить ПО</a></li>
                                <li><a href="{% url 'create_news' %}" class="nav__link">Создать новость</a></li>
                                <li><a href="{% url 'logout' %}" class="nav__link">Выйти</a></li>
                            {% else %}  
                                <li><a href="{% url 'login' %}" class="nav__link">Войти</a></li>
                                <li><a href="{% url 'register' %}" class="nav__link">Зарегистрироваться</a></li>
                            {% endif %}
                            </ul>
                       </div>
                       </li>
                   </ul>
               </nav>


           </div>
       </div>
   </header>
    <!-- end new header -->


    <div class="main-container">
        
        {% if request.user.is_authenticated %}
        {% else %}
        <div class="infocontent">
        <h3 style="color: brown;">Вы не авторизованы на сайте</h3>
        <p>Еще нет аккаунта? Создайте его</p>
        </div>
        {% endif %} 
        
         {% block content %}
        {% endblock %}   
          
        
       
        
    </div>
    
<footer class="footer text-footer">
        <div class="text-center">
            <a href="{% url 'main' %}" class="text-footer text-footer-link">Главная</a>
            <a href="{% url 'apps_list' %}" class="text-footer text-footer-link">Программы</a>
            <a href="{% url 'information' %}" class="text-footer text-footer-link">Информация</a>
            <a href="{% url 'information' %}" class="text-footer text-footer-link">О нас</a>
        </div>
        <div class="copyright pt-5 text-center">
            Создано с любовью &#128525 в Союзе программистов
        </div>
</footer>

</body>
<!-- Внешняя ссылка -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $(".reply").on('click', function(){
            var parentId = $(this).attr('data-id')
            $("#form-"+parentId).fadeToggle();
        })
        $(".submit-reply").on('click', function(e) {
            e.preventDefault()
            var parentId = $(this).attr('data-submit-reply')
            var id = $(this).attr('data-id')
            var text = $("form-" + id).find('textarea[name="comment-text"]').val();
        })
            function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
                        }
                    }
                }
            return cookieValue;
        }
                const csrftoken = getCookie('csrftoken');
            data = {
                user: "{{ request.user.username }}",
                parentId: parentId,
                text: text,
                id: id,
                csrfmiddlewaretoken: csrftoken
            }
            $.ajax({
                method: "POST",
                data: data,
                url: "{% url "comment_child_create" %}",
                success: function (data){
                    window.location.replace('/comments')
                }
            })

    })
</script>
<script src="{% static 'js/Menu.js' %}"></script>
</html>