<!DOCTYPE html>
<html lang="en">
<head>
    <!-- BEGIN CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- END CSS -->
    <!-- ! попытка подключения jquery 3.3.1.min -->
    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- TODO Внешняя зависимость -->
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <title>Магазин приложений</title>
</head>
<body>
<!-- Begin menu -->
    <div class="wrap">
        <div class="section">
            <div class="menu-block">
                <a href="#" class="menu-btn"><span></span></a>
                <nav class="menu-nav">
                    <a href="{% url 'main' %}" class="menu-nav__link">Главная</a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'create_news' %}" class="menu-nav__link">Создать новость</a>
                        <a href="{% url 'create_app' %}" class="menu-nav__link">Загрузить программу</a>
                        <a href="{% url 'logout' %}" class="menu-nav__link">Выйти</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="menu-nav__link">Войти</a>
                        <a href="{% url 'register' %}" class="menu-nav__link">Зарегистрироваться</a>
                    {% endif %}
                    <a href="{% url 'apps_list' %}" class="menu-nav__link">Программы</a>
                    <a href="{% url 'information' %}" class="menu-nav__link">Информация</a>
                    <a href="{% url 'information' %}" class="menu-nav__link">О нас</a>
                </nav>
            </div>
        </div>
    </div>
<!-- End menu -->
<div class="infocontent">
    {% if request.user.is_authenticated %}
    {% else %}
    <h3>Вы не авторизованы на сайте</h3>
    <p>Еще нет аккаунта? Создайте его</p>
    {% endif %}
</div>
<a href="{% url 'main' %}"><button>Главная</button></a>
{% if request.user.is_authenticated %}

    <a href="{% url 'create_news' %}"><button>Создать новость </button></a>
    <a href="{% url 'create_app' %}"><button>Загрузить программу</button></a>
    <a href="{% url 'logout' %}"><button>Выйти</button></a>
{% else %}
    <h3>Вы не авторизованы на сайте</h3>

    <a href="{% url 'login' %}"><button>Войти</button></a>
    <p>Еще нет аккаунта? Создайте его</p>
    <a href="{% url 'register' %}"><button>Зарегистрироваться</button></a>

{% endif %}
<a href="{% url 'apps_list' %}"><button>Программы</button></a>
<a href="{% url 'information' %}"><button>Информация</button></a>
<a href="{% url 'information' %}"><button>О нас</button></a>
{% block content %}
{% endblock %}

</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $(".reply").on('click', function(){
            var parentId = $(this).attr('data-id')
            $("#form-"+parentId).fadeToggle();
        })
        $(".submit-reply").on('click', function(e) {
            e.preventDefault()
            var parentId = $(this).attr('data-submit-reply')
            var id = $(this).attr('data-id')
            var text = $("form-" + id).find('textarea[name="comment-text"]').val();
        })
            function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
                        }
                    }
                }
            return cookieValue;
        }
                const csrftoken = getCookie('csrftoken');
            data = {
                user: "{{ request.user.username }}",
                parentId: parentId,
                text: text,
                id: id,
                csrfmiddlewaretoken: csrftoken
            }
            $.ajax({
                method: "POST",
                data: data,
                url: "{% url "comment_child_create" %}",
                success: function (data){
                    window.location.replace('/comments')
                }
            })

    })
</script>
{% load static %}
<script src="{% static 'js/Menu.js' %}"></script>
</html>