{% extends 'base.html' %}
{% block content %}
<h1 id="create_title">{{ category.name }}</h1>
<h3 style="text-align: center; color: #3498db;">
  Приложения в этой категории:
</h3>



<div class="main-container-apps-list">
     {% for app in category.apps.all %}
     <a class="apps-a" href="{% url 'app_detail' app.slug %}">
      <div class="apps-list">
          
          <div class="apps-list__img">
              <img width="150" height="150" src="{{MEDIA_URL}}{{app.image.url}}">  
          </div>
          <div class="apps-title">
               {{ app.title }}
          </div>
          
      </div>
      </a> 
     <!-- <li><a href="{% url 'app_detail' app.slug %}">{{ app.title }}</a></li> -->
     {% endfor %}
 </div>
{% endblock %}