{% extends 'base.html' %}
{% block content %}

 <h2 id="create_title">Редактирование программы</h2>
    <form class="create-form" method="post" enctype="multipart/form-data" action="{% url 'edit_app' slug %}">
        {% csrf_token %}
        {{ app_form.as_p }}
        {% for screen in screenshots %}
        <img width="100" height="100" src="{{MEDIA_URL}}{{screen.files.url}}">
        {% endfor %}
        {{ screenshots_form.as_p }}
    <button class="btn">Сохранить</button></form>

{% endblock %}