{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Вход</title>
        
    <link rel="stylesheet" href="{% static 'css/login_page_style.css' %}">
    </head>
    <body>
                    <!-- TODO Не всегда прогружаются стили ошибки (проверить)  -->
            <form class="box" method="post" autocomplete="off">
                <a href="{% url 'main' %}"><img src="{% static 'image/star.png' %}" alt="" style="width: 50px;"></a>
                <h2>Вход</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="submit" type="submit">Вход</button>
            </form>
         
    </body>
</html>