{% extends 'base.html' %}

{% block content %}

{% if news_list %}
<!-- TODO 

TODO -->
     <!-- <ul> -->
     {% for news in news_list %}
     
        <div class="post">
            <h1>{{ news.title }}</h1>
            <span>Дата создания: {{ news.created_at }}</span>
            <span>Автор: {{ news.user }}</span>
            <p>
                <a class="btn" href="{% url 'news_detail' news.slug %}">Читать</a>
            </p>
        </div>
        

        <!-- <a class="list_news__link" href="{% url 'news_detail' news.slug %}">{{ news.title }}</a>
        
        <p>
            <img width="50" height="50" src="{{MEDIA_URL}}{{news.image.url}}">
            Дата создания: {{ news.created_at }}
            Автор: {{ news.user }}
        </p> -->
     
     
     {% endfor %}
     <!-- </ul> -->
    {% else %}
    Новостей нет
{% endif %}




{% endblock %}