{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- <div class="profile-card">
    <div class="profile-avatar">
        <h1>{{ profile.user.username }}</h1>
        {% if profile.avatar %}
        <img width="100" height="100" src="{{MEDIA_URL}}{{profile.avatar.url}}">
        
        {% endif %}
        
    </div>
    <div class="profile-content">
        <div class="profile-name">
            {{ profile.user.first_name }}
            {{ profile.user.last_name  }} 
        </div>
        <div class="profile-about">
            <details>
                <summary>
                    Подробнее...
                </summary>
                <p>
                    Почта: <p>{{ profile.email }}</p>
                    Город: <p>{{ profile.city }}</p>
                    Телефон: <p>{{ profile.phone }}</p>
                    О себе: <p>{{ profile.information }}</p>
                    Должность: <p>{{ profile.position }}</p>
                </p>
            </details>
             
        </div>
       
    </div>
</div> -->
<div class="new-profile-card-detail gradient">
    {% if profile.avatar %}
    <img id="new-profile-avatar" width="250" height="250" src="{{MEDIA_URL}}{{profile.avatar.url}}">
    {% endif %}
    <span id="new-profile-name">
{{ profile.user.first_name }}
    {{ profile.user.last_name  }}
    </span>

<p>
   <img height="20" width="20" src="{% static 'image/mail.png' %}" alt="">   {{ profile.email }} 
</p>
<p>
    <img height="20" width="20" src="{% static 'image/location.png' %}" alt="">   {{ profile.city }}
</p>
<p>
    <img height="20" width="20" src="{% static 'image/tel.png' %}" alt="">   {{ profile.phone }}
</p>
<p>
    <img height="20" width="20" src="{% static 'image/inf.png' %}" alt="">   {{ profile.information }}
</p>
Должность: <p>{{ profile.position }}</p>



</div>


{% ifequal request.user profile.user %}
    <a href="{% url 'edit_profile' profile.slug %}"><button class="btn">Редактировать</button></a>
{% endifequal %}




<h1>{{ profile.user.username }}</h1>

 {% if profile.avatar %}
    <img width="100" height="100" src="{{MEDIA_URL}}{{profile.avatar.url}}">
    {% endif %}
<br>
Имя: <p>{{ profile.user.first_name }}</p>
Фамилия: <p>{{ profile.user.last_name  }}</p>
Почта: <p>{{ profile.email }}</p>
Город: <p>{{ profile.city }}</p>
Телефон: <p>{{ profile.phone }}</p>
О себе: <p>{{ profile.information }}</p>
Должность: <p>{{ profile.position }}</p>


{% ifequal request.user profile.user %}
    <a href="{% url 'edit_profile' profile.slug %}"><button class="btn">Редактировать</button></a>
{% endifequal %}



{% endblock %}