{% extends 'base.html' %}
{% block content %}
<h1>{{ profile.user.username }}</h1>

 {% if profile.avatar %}
    <img width="100" height="100" src="{{MEDIA_URL}}{{profile.avatar.url}}">
    {% endif %}
<br>
Имя: <p>{{ profile.user.first_name }}</p>
Фамилия: <p>{{ profile.user.last_name  }}</p>
Почта: <p>{{ profile.email }}</p>
Город: <p>{{ profile.city }}</p>
Телефон: <p>{{ profile.phone }}</p>
О себе: <p>{{ profile.information }}</p>


{% ifequal request.user profile.user %}
    <a href="{% url 'edit_profile' profile.slug %}"><button>Редактировать</button></a>
{% endifequal %}



{% endblock %}